/*
 * ---------------------------------------------------------------------------
 *  Nextflow config file for use with Google Cloud & Google Life Sciences API
 * ---------------------------------------------------------------------------
 * Defines basic settings for running under the finngen-refinery-dev project
 */

workDir = "$TOWER_WORKDIR"

params {
  hisat2_index = 'gs://juham-fg/rnaseq_complete_reference/hisat2_v2.2.1_index_v105/Homo_sapiens.GRCh38.dna.primary_assembly.hisat2_index'
  gtf_hisat2_index = 'gs://juham-fg/rnaseq_complete_reference/Ensembl_105/Homo_sapiens.GRCh38.105.gtf'
  gtf_fc = 'gs://juham-fg/rnaseq_complete_reference/GENCODE_v39/gencode.v39.annotation.nochr.gtf'
  fasta = 'gs://juham-fg/rnaseq_complete_reference/Homo_sapiens.GRCh38.dna.primary_assembly.fa'
  txrevise_gffs = 'gs://juham-fg/rnaseq_complete_reference/Homo_sapiens.GRCh38.105.txrevise.CAGE25/*.gff3'
  tx_fasta = 'gs://juham-fg/rnaseq_complete_reference/GENCODE_v39/gencode.v39.transcripts.fa'

  //Default parameters
  run_ge_quant = true
  run_salmon = true
  run_txrevise = true
  run_exon_quant = true
  run_leafcutter = true
  skip_qc = false
  skip_multiqc = false
  skip_edger = false
  skip_alignment = false
}

tower {
  accessToken = "$TOWER_ACCESS_TOKEN"
  endpoint = 'http://0.0.0.0:8000/api'
  enabled = true
}

mail {
  from = "$TOWER_MAIL_FROM"
  smtp {
    host = "$TOWER_MAIL_HOST"
    port = "$TOWER_MAIL_PORT"
    user = "$TOWER_MAIL_USER"
    password = "$TOWER_MAIL_PASS"
  }
}

process {
  executor = 'google-lifesciences'
  cache = 'lenient'
  cpus = 1
  // retry when preempted (10) or aborted/preempted (14) or weird 127 possibly file copy issue (127)
  // otherwise terminate workflow allowing submitted tasks to finish
  // https://cloud.google.com/life-sciences/docs/troubleshooting
  errorStrategy = { task.exitStatus == 127 || task.exitStatus == 14 || task.exitStatus == 10 ? 'retry' : 'finish' }
  maxRetries = 3
}

executor {
  queueSize = queueSize = 100000
}

google {
  region  = 'europe-west1'
  location = 'europe-west4'
  project = "$TOWER_GOOGLE_PROJECT"
  lifeSciences {
    serviceAccountEmail = "$TOWER_GOOGLE_SERVACC"
    network = 'default'
    subnetwork = 'default'
    // boot disk could be smaller e.g. 10G if the docker image for the process fits there
    // some docker images are too big for a 10G boot disk
    bootDiskSize = 15.GB
    preemptible = true
    usePrivateAddress = true
    sshDaemon = false
    keepAliveOnFailure = false
    debug = false
  }
  storage {
    maxParallelTransfers = 10
    parallelThreadCount = 4
    downloadMaxComponents = 8
    delayBetweenAttempts = 300
  }
}
